<%layout('layouts/boilerplate')%>

    <form class="row g-3 mt-3" action="/edit/<%=foundUser._id%>/<%=task._id%>" method="POST">

        <div class="col-auto">
            <label for="todo" class="visually-hidden">Description</label>
            <input class="mb-3 form-control" type="text" id="todo" name="todo[description]"
                value="<%=task.description%>">
        </div>
        <div class="col-auto">
            <label for="time" class="visually-hidden">Time</label>
            <input type="text" id="time" name="todo[time]" value="<%=task.time%>">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-warning mb-3">Save</button>
        </div>
        <hr>

    </form>